# Unreal Engine
HostProject/
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Game Launcher Cloud
GLC_Upload/
Builds/
Plugins/GameLauncherCloud/Config/glc_config.json

# Visual Studio
.vs/
.vscode/

# Config (contains API keys)
Config/glc_config.json

# OS
.DS_Store
Thumbs.db
Plugins/GameLauncherCloud/Config/glc_config.json
